# __Basic Data Science Process__
1. Data Understanding
2. Data Cleaning
3. Data Exploratory
    - 3.1 Statistics
    - 3.2 PivotTable
    - 3.3 Basic Visualization
4. Report

## __Practice 1 - Basic Data Science Process__
1. <font color='blue'>__Data Understanding__</font>
2. Data Cleaning
3. <font color='blue'>__Data Exploratory__</font>
    - <font color='blue'>__3.1 Statistics__</font>
    - <font color='blue'>__3.2 PivotTable__</font>
    - 3.3 Basic Visualization
4. Report

### __Data Understanding__

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/content/3.Customers_1.xlsx')

In [ ]:
df

    Cus Product Category  Price  Unit
0   C01    Nike    Shoes    800     2
1   C01     H&M    Shirt    100     3
2   C02  Uniqlo    Pants    350     1
3   C03     H&M   Shorts    210     2
4   C01  Uniqlo    Shirt    120     5
5   C02    Nike    Shoes    100     2
6   C01     H&M    Shirt    100     3
7   C03  Uniqlo    Pants   1500     1
8   C04     H&M   Shorts    750     2
9   C05  Uniqlo    Shirt    300     1
10  C06    Nike    Shoes   1500     2
11  C07    Nike    Shoes    850     1

In [ ]:
df.head() #เรียกมา 5 แถวแรก

   Cus Product Category  Price  Unit
0  C01    Nike    Shoes    800     2
1  C01     H&M    Shirt    100     3
2  C02  Uniqlo    Pants    350     1
3  C03     H&M   Shorts    210     2
4  C01  Uniqlo    Shirt    120     5

In [ ]:
df.head(2) #เรียกมา 2 แถวแรก

   Cus Product Category  Price  Unit
0  C01    Nike    Shoes    800     2
1  C01     H&M    Shirt    100     3

In [ ]:
df.tail() #เรียก 5 ตัวท้าย

    Cus Product Category  Price  Unit
7   C03  Uniqlo    Pants   1500     1
8   C04     H&M   Shorts    750     2
9   C05  Uniqlo    Shirt    300     1
10  C06    Nike    Shoes   1500     2
11  C07    Nike    Shoes    850     1

In [ ]:
df.tail(2) #เรียก 2 ตัวท้าย

    Cus Product Category  Price  Unit
10  C06    Nike    Shoes   1500     2
11  C07    Nike    Shoes    850     1

In [ ]:
df.sample(5) #สุ่มเลือกมา 5 แถว

    Cus Product Category  Price  Unit
4   C01  Uniqlo    Shirt    120     5
1   C01     H&M    Shirt    100     3
11  C07    Nike    Shoes    850     1
2   C02  Uniqlo    Pants    350     1
3   C03     H&M   Shorts    210     2

In [ ]:
df.columns #เรียกดูคอลัมน์

Index(['Cus', 'Product', 'Category', 'Price', 'Unit'], dtype='object')

In [ ]:
df.dtypes #เรียกดู type แต่ละคอลัมน์

Cus         object
Product     object
Category    object
Price        int64
Unit         int64
dtype: object

In [ ]:
df.shape #ดูขนาด

(12, 5)

### __Data Exploratory (Statistics)__

In [ ]:
df.describe()

             Price       Unit
count    12.000000  12.000000
mean    556.666667   2.083333
std     522.882454   1.164500
min     100.000000   1.000000
25%     115.000000   1.000000
50%     325.000000   2.000000
75%     812.500000   2.250000
max    1500.000000   5.000000

In [ ]:
df.describe(include='all')

        Cus Product Category        Price       Unit
count    12      12       12    12.000000  12.000000
unique    7       3        4          NaN        NaN
top     C01    Nike    Shoes          NaN        NaN
freq      4       4        4          NaN        NaN
mean    NaN     NaN      NaN   556.666667   2.083333
std     NaN     NaN      NaN   522.882454   1.164500
min     NaN     NaN      NaN   100.000000   1.000000
25%     NaN     NaN      NaN   115.000000   1.000000
50%     NaN     NaN      NaN   325.000000   2.000000
75%     NaN     NaN      NaN   812.500000   2.250000
max     NaN     NaN      NaN  1500.000000   5.000000

### __Data Exploratory (Pivot Table)__

In [ ]:
df.head()

   Cus Product Category  Price  Unit
0  C01    Nike    Shoes    800     2
1  C01     H&M    Shirt    100     3
2  C02  Uniqlo    Pants    350     1
3  C03     H&M   Shorts    210     2
4  C01  Uniqlo    Shirt    120     5

In [ ]:
df.groupby('Product')[['Price']].agg('sum').sort_values('Price',ascending=False)
#groupby('columns') ใช่้ในรวมแต่ละแถวในคอลัมน์เดียวกันที่ตรงกับคำที่ตั้งไว้
#[['Price']] ที่ต่อท้าย คือ นำมาเฉพาะคอลัมน์ Price 
#.agg('sum') โดย agg ใช้หาค่าทางคณิตศาสตร์ ซึ่งระบุ sum เพื่อหาค่าผลรวม
#.sort_values คือ เรียงค่าจากน้อยไปมาก
#ascending=False คือการการสลับการเรียงจากน้อยไปมากให้เป็นจากมากไปน้อย

         Price
Product
Nike      3250
Uniqlo    2270
H&M       1160

In [1]:
df.groupby('Product')[['Price']].agg('sum').sort_values('Price',ascending=False)
#groupby('columns') ใช่้ในรวมแต่ละแถวในคอลัมน์เดียวกันที่ตรงกับคำที่ตั้งไว้
#[['Price']] ที่ต่อท้าย คือ นำมาเฉพาะคอลัมน์ Price 
#.agg('sum') โดย agg ใช้หาค่าทางคณิตศาสตร์ ซึ่งระบุ sum เพื่อหาค่าผลรวม
#.sort_values คือ เรียงค่าจากน้อยไปมาก
#ascending=False คือการการสลับการเรียงจากน้อยไปมากให้เป็นจากมากไปน้อย

NameError: ignored

## __Practice 2 - Basic Data Science Process__
1. Data Understanding
2. <font color='blue'>__Data Cleaning__</font>
3. Data Exploratory
    - 3.1 Statistics
    - 3.2 PivotTable
    - 3.3 <font color='blue'>__Basic Visualization__</font>
4. Report

### __Data Cleaning__

#### 1.แก้ไขชื่อ Column

#### 2.ลบ column ที่มีค่าว่าง

#### 3.ลบแถวที่มีค่าว่าง

#### 4.แทนที่ด้วยค่าใหม่

#### 5.การเพิ่ม Column ใหม่

#### 6.Numerical to Nominal (Ordinal)

## __Data Exploratory (Basic Visualization)__